body
{
    background-color: fuchsia;
}

h1
{
    color:blue;
    background-color: rgb(184, 184, 231);
}
#show_sketch
{
    float:right;
}

canvas{
border:5px solid white;
border-radius:20px;
animation-name :example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}
@keyframes example {
from{box-shadow: 2px 2px 40px turquoise;} 
to{box-shadow:2px 2px 40px pink;}   
}

p
{
padding-top: 10px;
font-size: 25px;
font-family: Verdana,  Tahoma, sans-serif;
font-weight: bolder;

}

